Checks:
  - bugprone-*
  - clang-analyzer-*
  - clang-diagnostic-*
  - cppcoreguidelines-*
  - modernize-*
  - performance-*
  - portability-*
  - readability-*
  - -readability-implicit-bool-conversion
