*
!*/

!/.clang-format
!/.clang-tidy
!/.gitignore
!/.gitmodules
!/LICENSE
!/README*.md

!/.github/**/*.yml
!/.gitlab-ci.yml

!/Dockerfile
!/keyboards/**/*.c
!/keyboards/**/*.h
!/keyboards/**/*.mk
!/qmk.json
!/qmk.sh
