name: Continuous Integration

on:
  push:
    paths-ignore:
      - '**.md'
      - '.*'
      - 'guix.scm'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.*'
      - 'guix.scm'

jobs:
  build:
    name: Linux x86-64 (Continuous)
    runs-on: ubuntu-latest

    steps:
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential \
            binutils-avr gcc-avr avr-libc avrdude \
            binutils-arm-none-eabi gcc-arm-none-eabi \
            libnewlib-arm-none-eabi dfu-programmer dfu-util \
            teensy-loader-cli libhidapi-hidraw0 libusb-dev \
            python3-pip python3-tomli
          sudo pip install pdm

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup
        run:  pdm install

      - name: Build
        run:  pdm run build

      - uses: actions/upload-artifact@v3
        with:
          name: qmk-firmware
          path: |
            build/out/*.bin
            build/out/*.hex
            build/out/*.uf2
            build/out/.build/failed.*
